@model MiniShop.DTOs.Requests.CategoryRequest

<div class="container mt-4">
    <h2 class="text-center mb-4">Update Category</h2>
    <form asp-action="Update" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="card h-100">
            <div class="card card-header">Detail</div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter category name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Enter description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="IsPresent" class="form-label">Present</label>
                    <select asp-for="IsPresent" class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="IsPresent" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-warning">Update</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
